@page "/"
@using Model

<PageTitle>Index</PageTitle>

<h1>HiddenVilla - System</h1>

Welcome to the HiddenVilla Management System.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@


@code {

}